 /* .checkbox {
 	position: absolute;
 	top: 0;
 	left: 0;
 	height: 25px;
 	width: 25px;
 	border-radius: 50px;
 	background-color: black;
 } */

 .checkbox-round {
 	width: 5.3em;
 	height: 5.3em;
 	background-color: green;
 	border-radius: 50%;
 	vertical-align: middle;
 	border: 1px solid #ddd;
 	appearance: none;
 	-webkit-appearance: none;
 	outline: none;
 	cursor: pointer;
 }

 .checkbox-round2 {
 	width: 5.3em;
 	height: 5.3em;
 	background-color: red;
 	border-radius: 50%;
 	vertical-align: middle;
 	border: 1px solid #ddd;
 	appearance: none;
 	-webkit-appearance: none;
 	outline: none;
 	cursor: pointer;
 }

 .checkbox-round3 {
 	width: 5.3em;
 	height: 5.3em;
 	background-color: blue;
 	border-radius: 50%;
 	vertical-align: middle;
 	border: 1px solid #ddd;
 	appearance: none;
 	-webkit-appearance: none;
 	outline: none;
 	cursor: pointer;
 }

 .checkbox-round:checked {
 	background-color: yellow;
 }

 .checkbox-round2:checked {
 	background-color: black;
 }

 .checkbox-round3:checked {
 	background-color: red;
 }